@import '../common/styles.css';

.payment {
  max-width: 400px;
  width: 90%;
  margin: 1rem auto 2.5rem;
  cursor: pointer;
}
.fields {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0.5rem 0;
}
.label {
  display: inline-block;
  flex: 1;
}
.input {
  display: inline-block;
  flex: 3;
}
.select {
  background-color: var(--white);
}
.clr {
  color: var(--badge-online);
}
.sq {
  border-radius: 0;
}
.stack li {
  transition: transform 300ms;
}
.stack li:hover {
  background-color: var(--white);
  transform: scale(1.05);
}
.pageheader {
  width: 100%;
  padding: 1rem 2rem;
  color: var(--primary);
  font-size: 1.35rem;
  font-weight: 600;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .payment {
    max-width: 50%;
  }
  .fields {
    flex-direction: row;
  }
}
