@import '../common/styles.css';

.payment {
  max-width: 400px;
  width: 90%;
  margin: 1rem auto 2.5rem;
  cursor: pointer;
}
.fields {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0.5rem 0;
  width: 100%;
}
.fields .label {
  width: auto;
}
.fields .input {
  width: 100%;
}
.select {
  background-color: var(--white);
}
.clr {
  color: var(--badge-online);
}
.sq {
  border-radius: 0;
}
.stack__payment__item {
  transition: transform 300ms;
}
.stack__payment__item:hover {
  background-color: var(--white);
  transform: scale(1.05);
}
.pageheader {
  width: 100%;
  padding: 1rem 2rem;
  color: var(--primary);
  font-size: 1.35rem;
  font-weight: 600;
  cursor: pointer;
}
.btn--space {
  margin: 0 1rem;
}
@media screen and (min-width: 1024px) {
  .payment {
    max-width: 50%;
  }
  .fields {
    flex-direction: row;
  }
  .fields .label {
    width: 18%;
  }
  .fields .input {
    width: 82%;
  }
}
