@import '/Static-Pages/homepage/homepage.css';
@import '/Static-Pages/productpage/productpage.css';

/* Navbar */
.border--btm {
  border-bottom: 2px solid var(--border);
}
.title {
  font-size: 1em;
  font-weight: 600;
  line-height: 16px;
}
.menu {
  position: relative;
}
.menu__btn {
  padding: 1rem;
}
.menu__btn__name {
  display: none;
}
.submenu {
  display: none;
  position: absolute;
  top: 2rem;
  right: 0rem;
  z-index: 110;
  background-color: var(--white);
  border-radius: 10px;
  border: 1px solid var(--border);
  transition: display 500ms;
}
.submenu__btn {
  display: flex;
}
.submenu__item {
  display: inline-block;
  width: 100%;
  padding: 1rem 0;
  font-size: 1em;
  text-align: start;
  color: var(--heading);
}
.submenu__item:hover {
  background-color: var(--button-light);
}
.menu__btn:hover ~ .submenu {
  display: inline-block;
}
.submenu:hover {
  display: inline-block;
}
.start {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Categories */
.categories {
  display: none;
}


/* Deals */
.deals h1 {
  text-transform: uppercase;
}
.deal--cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}
/* Alternate approach 
.deal--cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, auto));
  justify-content: center;
  gap: 1rem;
} */

.card,
.ecom {
  width: 90%;
  height: min-content;
  max-width: none;
  max-height: none;
}

/* Footer */
.footer--ctr {
  border-top: 2px solid var(--border);
}

/* Media Queries */
@media screen and (min-width: 768px) {
  .drawer--content {
    width: 25%;
  }
  .menu__btn__name {
    display: inline;
  }
  .submenu {
    top: 2.5rem;
    right: 0.5rem;
  }
  .start {
    justify-content: flex-start;
  }
  .categories {
    display: flex;
  }
  .category {
    flex: 1;
    text-align: center;
    padding: 1rem 0;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
  }
  .card,
  .ecom {
    width: 40%;
    height: 35rem;
  }
}

@media screen and (min-width: 1024px) {
  .card,
  .ecom {
    width: 30%;
    max-width: 30%;
    height: 35rem;
    flex: 0 0 auto;
  }
}

@media screen and (min-width: 1650px) {
  body {
    max-width: 1650px;
    margin: auto;
  }
}
