:root {
  --tertiary: #008190;
  --tertiary--light: #1b97a5;
  --dismiss: #4d4b4b;
  --footer--one: #e2e1e1;
  --price: green;
  --tag: rgb(177, 3, 32);
  --rating: rgb(255, 191, 29);
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}
.md {
  font-size: 1.25rem;
}
.disp-block {
  display: block;
}
.tertiary {
  color: var(--tertiary);
}
.shadow {
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0 0 1px rgba(129, 113, 113, 0.02);
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--tertiary);
}
/* Track */
::-webkit-scrollbar-track {
  height: 100%;
  width: fit-content;
  background-color: var(--primary--light);
}

/* Drawer */
.drawer__content {
  width: 50%;
}
/* Navbar */
.border--btm {
  border-bottom: 2px solid var(--primary--light);
}
.title {
  font-size: 1rem;
  font-weight: 600;
  line-height: 16px;
}
.menu {
  position: relative;
}
.menu__btn {
  padding: 1rem;
}
.menu__btn__name {
  display: none;
}
.submenu {
  display: none;
  position: absolute;
  top: 2rem;
  right: 0rem;
  z-index: 100;
  background-color: var(--white);
  border: 1px solid var(--primary--light);
  transition: display 500ms;
}
.submenu__btn {
  display: flex;
}
.submenu__item {
  display: inline-block;
  width: 100%;
  padding: 1rem;
  font-size: 1em;
  text-align: start;
  color: var(--primary);
}
.submenu__item:hover {
  background-color: var(--button-light);
}
.menu__btn:hover ~ .submenu {
  display: inline-block;
}
.submenu:hover {
  display: inline-block;
}
.start {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Categories */
.categories {
  display: none;
}
.category {
  cursor: pointer;
}

/* Deals */
.deals h1 {
  text-transform: uppercase;
}

/* Hacking the card styles  */
.deal--cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, auto));
  justify-content: center;
  gap: 0.5rem;
  margin: 0 auto;
}
/* .deal--cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  margin: 0 auto;
} */
.card {
  border-radius: 0;
  border: none;
  margin: 2rem 0;
  max-width: none;
  max-height: none;
  cursor: pointer;
}
.ecom {
  max-height: none;
  padding: 0;
  margin: 0.5rem;
}
.nostock {
  background-color: var(--white);
  opacity: 0.5;
  position: relative;
}
.nostock::before {
  content: 'Out of Stock';
  color: var(--black);
  font-size: 1.5rem;
  font-weight: 600;
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.nostock > .cart__btn {
  cursor: not-allowed;
  pointer-events: none;
  background-color: var(--white);
  color: var(--primary);
  border: 2px solid var(--primary);
}
.card__banner {
  border-radius: 0;
  height: 55%;
  width: 100%;
}
.content {
  margin: 0 auto;
  width: 100%;
}
.price__val {
  color: var(--tertiary);
}
.content__rating {
  display: inline-block;
  background-color: var(--rating);
  color: var(--primary);
  font-weight: bold;
  font-size: 0.75rem;
}
.card__dismiss,
.card__wishlist {
  position: absolute;
  top: 1rem;
  right: 0.5rem;
  color: var(--dismiss);
  font-size: 1rem;
}
.card__wishlist {
  color: var(--tag);
}
.cart__btn {
  display: inline;
  outline: none;
  border: none;
  font-size: 1.25rem;
  padding: 0.5rem;
  width: 100%;
  color: white;
  background-color: var(--tertiary);
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0 0 1px rgba(129, 113, 113, 0.02);
}
.cart__btn:hover {
  background-color: var(--tertiary--light);
  outline: none;
  border: none;
}
.tag {
  color: var(--tag);
}
.price__ctr {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}

/* Footer */
.footer--ctr {
  border-top: 2px solid var(--primary--light);
}

/* Media Queries */
@media screen and (min-width: 300px) {
  .price__ctr {
    justify-content: space-between;
    flex-direction: row;
  }
  .card__dismiss,
  .card__wishlist {
    position: absolute;
    top: 0.35rem;
    right: 0.05rem;
    font-size: 1.75rem;
  }
}
@media screen and (min-width: 1024px) {
  .title {
    font-size: 1.25rem;
  }
  .drawer__content {
    width: 25%;
  }
  .menu__btn__name {
    display: inline;
  }
  .submenu {
    top: 2.5rem;
    right: 0.5rem;
  }
  .start {
    justify-content: flex-start;
  }
  .categories {
    display: flex;
    background-color: var(--tertiary);
    color: var(--white);
  }
  .category {
    flex: 1;
    height: 3rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem 0.5rem;
  }
}

@media screen and (min-width: 1650px) {
  body {
    width: 1650px;
    margin: auto;
  }
}
