body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}
.disp-block {
  display: block;
}
/* Drawer */
.drawer__content {
  width: 50%;
}
/* Navbar */
.border--btm {
  border-bottom: 2px solid var(--primary--light);
}
.title {
  font-size: 1em;
  font-weight: 600;
  line-height: 16px;
}
.menu {
  position: relative;
}
.menu__btn {
  padding: 1rem;
}
.menu__btn__name {
  display: none;
}
.submenu {
  display: none;
  position: absolute;
  top: 2rem;
  right: 0rem;
  z-index: 100;
  background-color: var(--white);
  border: 1px solid var(--primary--light);
  transition: display 500ms;
}
.submenu__btn {
  display: flex;
}
.submenu__item {
  display: inline-block;
  width: 100%;
  padding: 1rem;
  font-size: 1em;
  text-align: start;
  color: var(--primary);
}
.submenu__item:hover {
  background-color: var(--button-light);
}
.menu__btn:hover ~ .submenu {
  display: inline-block;
}
.submenu:hover {
  display: inline-block;
}
.start {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Categories */
.categories {
  display: none;
}
.category {
  cursor: pointer;
}

/* Deals */
.deals h1 {
  text-transform: uppercase;
}

/* Hacking the card styles  */
.card {
  border-radius: 0;
  border: none;
  margin: 2rem 0;
  max-width: none;
  max-height: none;
  cursor: pointer;
}
.price {
  gap: 0;
}
.deal--cards {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 0.5rem;
  margin: 0 auto;
}
.card--banner {
  height: 60%;
  width: 100%;
  object-fit: contain;
  border-radius: 0;
  margin: 0;
}
.content {
  width: 80%;
  margin: auto;
}
.price {
  margin: 1em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content__rating {
  padding: 0.5em 0.5em;
  font-size: 0.75em;
  border-radius: 20px;
}

/* Footer */
.footer--ctr {
  border-top: 2px solid var(--primary--light);
}

/* Media Queries */
@media screen and (min-width: 500px) {
  .deal--cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(30%, 50%));
    justify-content: center;
    gap: 0.2rem;
  }
}
@media screen and (min-width: 768px) {
  .drawer__content {
    width: 25%;
  }
  .menu__btn__name {
    display: inline;
  }
  .submenu {
    top: 2.5rem;
    right: 0.5rem;
  }
  .start {
    justify-content: flex-start;
  }
  .categories {
    display: flex;
  }
  .category {
    flex: 1;
    height: 6rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 2.2rem 0.5rem;
  }
  .deal--cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 30%));
    grid-gap: 1rem;
  }
  .deal--cards.home--cards {
    grid-template-columns: repeat(auto-fit, minmax(0, 22%));
  }
}
@media screen and (min-width: 1024px) {
  .deal--cards {
    grid-template-columns: repeat(auto-fit, minmax(0, 23%));
  }
  .deal--cards.home--cards {
    grid-template-columns: repeat(auto-fit, minmax(0, 18%));
  }
}

@media screen and (min-width: 1650px) {
  body {
    width: 1650px;
    margin: auto;
  }
}
