@import '../common/styles.css';
/* Common style */
@import '../summary/summary.css';
/* Same css styling as the order summary card */

.final__payment,
.final__payment__mobile {
  width: max-content;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .final__payment {
    justify-content: flex-end;
  }
  .final__payment__mobile {
    display: none;
  }
}
