@import '../../styles.css';

/* Cart */
.cart {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Card in cart */
.card--container {
  width: 100%;
}
.landscape {
  display: flex;
  flex-direction: column;
  height: auto;
  width: max-content;
  border-radius: 0;
  margin: 1rem auto;
}
.landscape .card--banner {
  border-radius: 0;
  height: auto;
  width: 10rem;
  margin: auto;
}
.quantity {
  padding: 0.25em 1em;
  font-weight: 600;
  border: 2px solid var(--subheading);
  border-radius: 5px;
}
.qty--btn {
  font-size: 0.75em;
  padding: 0.55em;
  border-radius: 50%;
}
.price {
  justify-content: flex-start;
}
.align {
  text-align: center;
  margin-bottom: 0.5em;
}
.btn--size {
  width: 90%;
}
/* Cart Total */
.cart--box {
  width: 90%;
  margin: 1em auto;
  align-self: flex-start;
  position: sticky;
  top: 0;
}

@media screen and (min-width: 400px) {
}

@media screen and (min-width: 768px) {
  .align {
    text-align: start;
    margin-bottom: 0.5em;
  }
  .btn--size {
    width: auto;
  }
  .cart {
    flex-direction: row;
  }
  .card--container {
    width: 50%;
  }
  .landscape {
    flex-direction: row;
  }
  .landscape .card--banner {
    border-radius: 0;
    width: 8rem;
    height: auto;
  }
  .cart--box {
    max-width: 30rem;
  }
}
