@import '../../styles.css';

/* Cart */
.cart {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100%;
  gap: 1.5em;
}

/* Card in cart */
.landscape {
  height: 15rem;
  border-radius: 0;
  width: 100%;
}
.landscape .card--banner {
  border-radius: 0;
  min-width: 40%;
}
.quantity {
  padding: 0.25em 1.5em;
  font-weight: 600;
  border-radius: 20px;
  border: 2px solid var(--subheading);
}

/* Cart Total */
.cart--box {
  width: 100%;
  margin: 1em auto;
}

/* Media Query */
@media screen and (min-width: 1024px) {
  .cart {
    flex-direction: row;
  }
  .landscape {
    width: 80%;
    margin: 1em auto;
  }
  .cart--box {
    width: 30%;
  }
}
