@import '../../styles.css';

.hb--aside::-webkit-scrollbar {
  display: none;
}
input {
  vertical-align: text-top;
}
label {
  display: block;
  margin: 0.5em 1em;
}
.filter__ip {
  width: 1.5em;
  height: 1.5em;
}
.filter__slider {
  width: 100%;
}
.fl-rt {
  float: right;
}
/* Ecom card */
.card__banner {
  height: 47%;
}
.ecom {
  height: 25rem;
}
