@import '../../styles.css';

li {
  list-style: none;
}
.card {
  max-width: none;
  max-height: none;
  width: 90%;
  height: auto;
  margin: 2rem auto;
}
.fields {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0.5rem 0;
}
.label {
  display: inline-block;
  flex: 1;
}
.input {
  display: inline-block;
  flex: 5;
}
.card button {
  margin: 1rem 0;
}
.manage {
  flex-direction: column;
}

/* Aside */
/* Aside title */
.aside__title {
  margin: 0.5rem 0;
  font-size: 1.25rem;
  font-weight: 600;
}
.btn--auth {
  border: 2px solid var(--tertiary);
  color: var(--tertiary);
  font-size: 1.25rem;
  font-size: 600;
}
.btn--auth:hover {
  border: 2px solid var(--tertiary);
  color: var(--white);
  background-color: var(--tertiary--light);
}
.stack__item {
  width: 100%;
  padding: 0.5rem;
  cursor: pointer;
}
.stack__item:hover {
  background-color: var(--tertiary--light);
  color: var(--white);
}
.stack__item i {
  float: right;
  margin-top: 5px;
}

@media screen and (min-width: 400px) {
  .manage {
    flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
  .card {
    width: 50%;
  }
  .fields {
    flex-direction: row;
  }
}
