@import '../../styles.css';

/* Ecom card */
.card--banner {
  height: 47%;
}
.ecom {
  height: 25rem;
}

/* Features */
.features {
  display: flex;
  flex-direction: column;
}
.feature {
  flex: 1;
  text-align: center;
  padding: 1em 0;
  border: 2px solid var(--primary--light);
  background-color: var(--button-light);
}

/* Carousal */
.carousal--container {
  width: 100%;
}
.carousal {
  width: 99%;
  margin: auto;
}

/* Media Queries */
@media screen and (min-width: 1024px) {
  .features {
    flex-direction: row;
  }
  .carousal {
    width: 100%;
  }

  .card--banner {
    height: 48%;
  }
}
