@import '../../styles.css';

.app--login {
  width: 90%;
  background-color: var(--white);
  margin: 2rem auto;
  padding: 1rem;
}
.forgot {
  color: var(--button-float);
}
.ipt--error {
  display: inline-block;
  margin: 0.5rem 0;
}
.btn {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .app--login {
    width: 30rem;
  }
}
