@import '../common/styles.css';

.address {
  width: 90%;
  margin: 1rem auto 2.5rem;
  cursor: pointer;
}
.fields {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0.5rem 0;
  width: 100%;
}
.fields .label {
  width: auto;
}
.fields .input {
  width: 100%;
}
.select {
  background-color: var(--white);
}
.btn--add {
  margin: 0.5rem;
}
.address__line {
  display: inline-flex;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .address {
    width: 40rem;
  }
  .fields {
    flex-direction: row;
  }
  .fields .label {
    width: 18%;
  }
  .fields .input {
    width: 82%;
  }
}
