@import '../../styles.css';

.landscape {
  height: 90%;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.landscape .card__banner {
  width: 60%;
}
.content {
  width: 90%;
  margin: 0;
}
.stack__item {
  margin: 1rem 0;
  border: 1px solid var(--primary--light);
}
.highlight {
  color: var(--button-success);
}
.button__ctr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
@media screen and (min-width: 400px) {
  .button__ctr {
    flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
  .landscape {
    width: 80%;
    flex-direction: row;
  }
  .landscape .card__banner {
    width: 40%;
  }
  .stack__item {
    margin: 0;
    border: none;
  }
}
