@import url('https://apolloui-neog.netlify.app/utility/common.css');
@import url('https://apolloui-neog.netlify.app/components/drawer/drawer.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

:root {
  --tertiary: #008190;
  --tertiary--light: #1b97a5;
  --dismiss: #4d4b4b;
  --footer--one: #e2e1e1;
  --price: green;
  --tag: rgb(177, 3, 32);
  --rating: rgb(255, 191, 29);
}
html {
  font-size: 85%;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}
.md {
  font-size: 1rem;
}
.lg {
  font-size: 1.5rem;
}
.disp-block {
  display: block;
}
.tertiary {
  color: var(--tertiary);
}
.shadow {
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0 0 1px rgba(129, 113, 113, 0.02);
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--tertiary);
}
/* Track */
::-webkit-scrollbar-track {
  height: 100%;
  width: fit-content;
  background-color: var(--primary--light);
}

/* New Button */
.btn--auth {
  border: 2px solid var(--tertiary);
  color: var(--tertiary);
  font-size: 1.25rem;
  font-size: 600;
}
.btn--auth:hover {
  border: 2px solid var(--tertiary);
  color: var(--white);
  background-color: var(--tertiary--light);
}
.btn--auth--solid {
  border: 2px solid var(--tertiary--light);
  background-color: var(--tertiary--light);
  color: var(--white);
}
.btn--auth--solid:hover {
  border: 2px solid var(--tertiary--light);
}
/* Card reset */
.card {
  max-width: none;
  max-height: none;
  height: auto;
  margin: 1rem auto;
  border-radius: 0;
}

@media screen and (min-width: 1650px) {
  body {
    width: 1650px;
    margin: auto;
  }
}
